html, body{
height: 100%;
margin: 0 0;
font-family: 'Open Sans', sans-serif;
display: flex;
justify-content: space-between;
flex-direction: column;

}
.link {
color: maroon;
margin: 0 20px;
font-family: 'PT Serif', serif;
}

.link:hover {
color:teal;
}

.header {
padding: 20px;
background-color: silver;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
text-align: center;
}

.img {
margin-top: 40px;
border: 1px solid teal;
}

.title {
color: teal;
/*text-align: center;*/
font-family: 'PT Serif', serif;
}

.main_container {
display: flex;
justify-content: center;
flex-direction: row;


}
.subtitle_p {
width: 800px;
}
.div_main {
display: flex;
flex-direction: column;
margin-left: 40px;
margin-top: 20px;
}
.subtitle {
color: teal;
margin-top: 20px;
font-family: 'PT Serif', serif;

}

.contacts_items {
display:flex;
align-items: center;
}
.contacts-icon {
    margin-right: 20px;
}
.footer {
text-align: center;
background-color: silver;
border-top: 1px solid grey;
/*border-bottom: 1px solid grey;*/
padding: 10px;
}

